bit/src/main/mule/bit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a5f6c0ef-aaa3-4ded-9105-42d996b874ad" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="bitFlow" doc:id="f6719d56-4e17-4da3-9ef0-c16779760bcb" >
		<http:listener doc:name="Listener" doc:id="bf0e6386-8f66-4583-8f35-83713cf23a70" config-ref="HTTP_Listener_config" path="/bitb"/>
		<ee:transform doc:name="Transform Message" doc:id="d311051a-8b69-4fd2-b8cf-b2873c35ff05" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"message": "hi rishi"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5f04f74b-8e09-4c59-b86f-766d14572aa7" message="#[payload]"/>
	</flow>
</mule>
